<div class="fixed bottom-4 right-4 z-50">
  <a
    href="https://api.whatsapp.com/send?phone=5492215054680&text=Quisiera contactarme con ustedes"
    target="_blank"
    id="whatsapp-button"
    class="flex items-center justify-center w-16 h-16 bg-green-500 text-white rounded-full shadow-lg transition-transform transform hover:scale-110"
  >
    <img
      src="https://d1v2p1s05qqabi.cloudfront.net/vendor/whatsappwidget/whatsapp.svg?v=97"
      alt="WhatsApp"
      loading="lazy"
      class="w-8 h-8"
    />
  </a>
</div>