---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Coceres Propiedades">
	<main>
		<Contact />
	</main>
</Layout>