---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Coceres Propiedades">
	<main class="overflow-x-hidden">
		<Contact />
	</main>
</Layout>