---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto" />
    <form action="#">
        <input type="button" value="Hola">
    </form>
    <Card
    href="https://docs.astro.build/"
    title="Contacto"
    body="Learn how Astro works and explore the official API docs."
/>
</Layout>