---
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.astro';
import Hero from '../components/Hero.astro';
import FeaturedProperties from '../components/FeaturedProperties.astro';
import Testimonials from '../components/Testimonials.astro';
import Whatsapp from '../components/Whatsapp.astro';
---

<Layout title="Coceres Propiedades">
	<main>
		<Search />
		<Hero />
		<FeaturedProperties />
		<Testimonials />
		<Whatsapp />
	</main>
</Layout>
