---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
---

<Layout title="Coceres Propiedades">
	<main class="overflow-x-hidden">
		<About />
	</main>
</Layout>