---
import Layout from '../layouts/Layout.astro';
import Properties from '../components/Properties.astro';
---

<Layout title="Coceres Propiedades">
	<main class="overflow-x-hidden">
		<Properties />
	</main>
</Layout>