---
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';
---

<Layout title="Coceres Propiedades">
	<main class="overflow-x-hidden">
		<Services />
	</main>
</Layout>